<div class="container text-center my-4">

    <div class="btn-group" role="group" aria-label="Ações">
        <!-- Botão "Voltar" não será parte do grupo de botões -->
        <a href="/" class="btn btn-outline-dark">Voltar</a>
        <a href="/users/register" class="btn btn-outline-dark">Cadastrar</a>
    </div>

    <div class="btn-group mx-2" role="group" aria-label="Visualização">
        <!-- Botões de radio -->
        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="btnradio1">Cards</label>

        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
        <label class="btn btn-outline-primary" for="btnradio2">Planilha</label>
    </div>

    <div class="btn-group mx-2" role="group" aria-label="Usuários totais">
        <h3 id="qtdAtivos" style="font-size: 50px;">{{qtdAtivos}}</h3>
    </div>
</div>




<!-- Cards -->
<div class="container text-light" id="cards">
    <div class="row g-3">
        {{#each users}}
        <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4 d-flex justify-content-center">
            <div class="card shadow-lg" style="width: 14em;">
                <img src="/images/git.png" class="card-img-top" alt="{{this.name}}">
                <div class="card-body">
                    <h5 class="card-title text-truncate" style="max-width: 150px">{{this.name}}</h5>
                    <p class="card-text">{{this.occupation}}</p>
                    <!-- Link para Informações (GET) -->
                    <li class="list-group-item">
                        <form action="/users/info/{{this.id}}" method="GET">
                            <input type="hidden" name="userId" value="{{this.id}}">
                            <button type="submit" class="btn btn-outline-primary p-1 mb-1">Informações</button>
                        </form>
                    </li>
                    <!-- Link para Excluir (POST) -->
                    <li class="list-group-item">
                        <form action="/users/delete/{{this.id}}" method="POST">
                            <input type="hidden" name="userId" value="{{this.id}}">
                            <button type="submit" class="btn btn-outline-dark p-1" id="toastDelete">Excluir</button>
                        </form>
                    </li>
                </div>
            </div>
        </div>
        {{/each}}
    </div>
</div>


<!-- Planilha -->
<table class="table table-secondary table-striped table-hover text-center" id="planilha" hidden>
    <thead class="table-info">
        <tr>
            <th>Usuário</th>
            <th>E-mail</th>
            <th>Profissão</th>
            <th>Newsletter</th>
            <th colspan="2">Gerenciar</th>
        </tr>
    </thead>
    <tbody>
        {{#each users}}
        <tr>
            <td class="text-truncate" style="max-width: 90px">{{this.name}}</td>
            <td>{{this.email}}</td>
            <td>{{this.occupation}}</td>
            <td>{{this.newsletter}}</td>
            <td colspan="2">
                <div class="container">
                    <div class="btn-group">
                        <a href="/users/info/{{this.id}}" class="btn btn-primary">Informações</a>
                        <a href="#" class="btn btn-outline-danger" id="deleteBtn-{{this.id}}"
                            onclick="deleteUser('{{this.id}}')">Excluir</a>
                    </div>
                </div>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>

<script src="/javascripts/notification.js" defer></script>
<script src="/javascripts/sheet-delete.js" defer></script>
<script src="/javascripts/toggle.js" defer></script>